.first-footer {
  margin-top: 2rem;
  padding-bottom: 3rem;
  @media screen and (min-width: 30em) {
    margin-top: 4rem;
  }
  a {
    letter-spacing: .05rem;
  }
}


.footer-links {
  margin-bottom: 1rem;
  a {
    text-transform: uppercase;
    color: $grey;
  }
}

.footer-links__alt {
  a {
    color: black;
    text-transform: uppercase;
    margin-bottom: 1rem;
    display: block;
  }
}

.newsletter {
  margin: 4rem 0 2rem;
  @media screen and (min-width: 1000px) {
    margin: 0;
  }
  h4 {
    font-size: 1.4rem;
    @media screen and (min-width: 1000px) {
      text-align: left;
    }
  }
}

.contact-info {
  @media screen and (min-width: 30em) {
    margin-top: 4rem;
  }
  p {
    margin-bottom: 0;
    @media screen and (min-width: 30em) {
      text-align: left;
      float: left;
      margin-right: .4rem;
    }
  }
  a {
    color: black;
    @media screen and (min-width: 30em) {
      text-align: left;
      font-size: 1.4rem;
    }
  }
}

.secondary-footer {
  margin-bottom: 3rem;
}

.right {
  float: right;
}

.privacy {
  margin-top: 3rem;
  @media screen and (min-width: 30em) {
    margin-top: 4rem;
  }
  ul {
    display: flex;
    justify-content: center;
    @media screen and (min-width: 1000px) {
      justify-content: flex-end;
    }
    li {
      padding: 0 .5rem;
      a {
        color: black;
      }
    }
  }
}

.border-top {
  border-top: 3px solid black;
}

.sponsor-logos {
  margin: 4rem auto 0;
  float: none;
  @media screen and (min-width: 1000px) {
    width: 50%;
  }
}

.phone-email {
  margin-top: 1rem;
  display: block;
}

.copyright-container {
  margin-bottom: 1rem;
}

.copyright {
  margin-top: 4rem;
  @media screen and (min-width: 1000px) {
    text-align: left;
  }
  p {
    margin: 0;
    @media screen and (min-width: 1000px) {
      text-align: left;
      float: left;
    }
  }
}

.all-rights {
  color: black;
  @media screen and (min-width: 30em) {

  }
}

.separator {
  padding: 0 1rem;
}

.charity {
  p {
    @media screen and (min-width: 1000px) {
      float: left;
      margin-right: .5rem;
    }
  }
}
