.site-header {
  position: absolute;
  height: 100px;
  width: 100%;
  z-index: 100;
}


.top-container {
  margin-top: 2rem;
  position: relative;
}

.logo {
  width: 150px;
  height: 150px;
}

.slide-content {
  margin-top: 200px;
  padding-left: 1rem;
  width: 350px;
  p {
    padding-left: 1rem;
    color: white;
    @media screen and (min-width: 30em) {
      font-size: 1.2rem;
    }
    @media screen and (min-width: 40em) {
      font-size: 1.6rem;
      padding-left: 2.5rem;
    }
  }
  @media screen and (min-width: 700px) {
    margin: 250px auto 0;
    width: 600px;
    float: none;
  }
  @media screen and (min-width: 1200px) {
    margin: 200px 0 0;
    float: left;
  }
}

.border-left {
  border-left: 4px solid white;
}

.no-border {
  border-left: 0;
}

nav {
  width: 80%;
  float: right;
  margin-left: 2rem;
  display: none;
  li {
    float: left;
    margin-right: 1.5rem;
    a {
      color: white;
      text-transform: uppercase;
      letter-spacing: .05rem;
    }
  }
  @media screen and (min-width: 800px) {
    display: block;
  }
  @media screen and (max-width: 1024px) {
    width: 65% !important;
  }
  @media screen and (max-width: 1200px) {
    width: 50%;
  }
  @media screen and (min-width: 1200px) {
    width: 80%;
  }
}

.menu-item {
  padding-top: .6rem;
  @media screen and (max-width: 1200px) {
    display: none !important;
  }
}

.hamburger {
  display: block;
  background-color: #fff;
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  right: 5%;
  top: 0%;
  display: none;
  @media screen and (max-width: 1200px) {
    display: inline-block;
  }
}
