.full-screen-search {
  z-index: 999999;
  background-color: rgba(0,0,0,0.8);
  display: block;
  height: 100%;
  width: 100%;
  position: fixed;
  display: none;
  form {
    padding-top: 40px;
    input {
      background-color: transparent;
      border: none;
      color: white;
      font-size: 3rem;
    }
  }
}
