h1 {
  color: $alpha;
  font-family: $font-family;
  text-align: center;
}

.grey {
  color: $grey;
}

.ttu {
  text-transform: uppercase;
}

.center {
  text-align: center;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.section-heading {
  border-left: 6px solid;
  font-size: 3rem;
  text-transform: uppercase;
  font-family: $font-family;
  padding: .4rem 0 .4rem 1rem;
  letter-spacing: .1rem;
  margin-bottom: 1rem;
  @media screen and (min-width: 30em) {
    font-size: 4rem;
    margin-bottom: 0;
  }
  @media screen and (min-width: 40em) {
    margin-bottom: 0;
    font-size: 7rem;
    margin-left: 1rem;
  }
}

.section-heading__alt {
  border-left: 4px solid #000;
  padding-left: 1rem;
  h2 {
    text-transform: uppercase;
    font-size: 2.4rem;
    font-family: $font-family;
    letter-spacing: .1rem;
    @media screen and (min-width: 1024px) {
      font-size: 4rem;
    }
  }
  p {
    
    @media screen and (min-width: 30em) {
      font-size: 1.2rem;
    }
    @media screen and (min-width: 40em) {
      font-size: 1.4rem;
    }
  }
  @media screen and (min-width: 30em) {
    margin-bottom: 4rem;
  }
}

.section_sub-heading {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.section-heading__white {
  border-left: 6px solid white;
  color: white;
  @media screen and (min-width: 40em) {
    font-size: 3.5rem;
    margin-bottom: 3rem;
  }
}

.section-heading-no-margin-bottom {
  margin-bottom: 0;
  @media screen and (min-width: 30em) {
    font-size: 5rem;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    font-size: 8rem;
  }
}

.item-heading {
  border-top: 2px solid;
  border-bottom: 2px solid;
  padding: 1rem 0;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-family: $font-family;
  margin: 1.5rem 0;
  letter-spacing: .05rem;
  @media screen and (min-width: 1024px) {
    font-size: 1.6rem;
    padding: 2rem 0;
  }
}

.continue-reading {
  text-decoration: underline;
  color: $grey;
}

.footer-heading {
  font-family: $font-family;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: black;
  @media screen and (min-width: 30em) {
    text-align: left;
  }
}
