
.whats-on {
  padding: 4rem 0;
  background-color: #e3e4e2;
}

.whats-on-item {
  margin-bottom: 3rem;
}

.artist-opportunities {
  padding: 3rem 0;
  @media screen and (min-width: 1024px) {
    padding: 5rem 0;
  }
}

.find-out-more {
  margin-top: 2rem;
  @media screen and (min-width: 1024px) {
    position: absolute;
    top: 10%;
    right: 10%;
    max-width: 350px;
    background-color: rgba(255,255,255,0.8);
    padding: 2rem;
  }
  p {
    @media screen and (min-width: 1024px) {
      margin-top: 1.5rem;
    }
  }
}

.p-r {
  position: relative;
}

.no-padding {
  padding: 0;
}

.sculpture-course {
  margin-bottom: 3rem;
}

.become-a-member {
  margin-top: 3rem;
  background-color: #222;
  @media screen and (min-width: 30em) {
    // position: absolute;
    // top: 50%;
    // transform: translateY(-50%);
    margin-top: 6rem;
  }
}

.member-info {
  padding: 1rem;
  @media screen and (min-width: 1000px) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
  }
  p {
    letter-spacing: .1rem;
    @media screen and (min-width: 30em) {
      padding-left: 1.5rem;
    }
  }
}

.member-content {
  color: white;
  padding-top: 2rem;
  position: relative;
  @media screen and (min-width: 30em) {
    padding: 3.5rem 0 0 0;

  }
  p {
    font-size: 1.2rem;
    max-width: 400px;
  }
}
